AZURE_OPENAI_ENDPOINT=<your-endpoint>
AZURE_OPENAI_API_KEY=<your-key>
AZURE_OPENAI_CHAT_COMPLETIONS_DEPLOYMENT_NAME=<your-chat-model>

AZURE_OPENAI_EMBEDDING_MODEL=text-embedding-3-large
EMBEDDING_VECTOR_DIMENSIONS=3072

AZURE_SEARCH_SERVICE_ENDPOINT=https://<your-search-service>.search.windows.net
AZURE_SEARCH_SERVICE_ADMIN_KEY=<your-admin-key>
SEARCH_INDEX_NAME=<your-index-name>